.nome__produto {
  position: fixed;
  bottom: 5%;
  left: 5em;
  padding: 0 2em;
  box-shadow: 0 0 0.5em black;
  display: flex;
  gap: 1em;
  border-radius: 1em;
}
.nome__produto:hover {
  transition: 0.6s;
  background-color: var(--for-produtos);
}
.nome__produto ul {
  list-style: none;
  text-align: center;
  box-shadow: 0 0 0.5em black;
  height: 100px;
  padding: 0 1.25em;
  overflow: auto;
}

.lista__de__nomes li a {
  font-size: 1.5rem;
  text-decoration: none;
  color: var(--cor-letras);
}

.lista__de__nomes li a:hover {
  transition: 700ms;
  font-weight: 700;
  text-decoration: underline;
}
.pesquisa__container {
  display: flex;
  flex-direction: column;
}
.pesquisa__rotulo {
  font-size: 1.25rem;
  font-weight: 700;
}
.pesquisa__input {
  padding: 0.5em;
  border: none;
  box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.1);
}

.lista__de__nomes::-webkit-scrollbar {
    width: 18px;
}

.lista__de__nomes::-webkit-scrollbar-thumb {
  background: var(--cor-fundo);
  border-radius: 10px;
  border-left: 4px solid var(--for-produtos);
  border-right: 4px solid var(--for-produtos);
}
.lista__de__nomes::-webkit-scrollbar-track {
  background: var(--for-produtos);
}
