.lista__produtos {
}

table,
th,
tr,
td {
  border: 1px solid black;
  text-align: center;
  padding: 0.1em 1em;
  font-size: 1.25rem;
}
.tabela__produto__container {
  height: 300px;
  overflow: auto;
  
}
.tabela__produto,
.tabela__produto__container {
  box-shadow: 0 0 0.5em black;
  margin: 1em;
  padding: 1em;
  border-radius: 1em;
  background-color: var(--for-produtos)
}
.contador input {
  padding: 0.5em;
  background: transparent;
  width: 4em;
  text-align: center;
  color:var(--cor-letra)
}
.dados__produto {
}
.produto__nome {
}
.tabela__produto {
}
.tabela__produto__titulo {
}
