@import url('./header.css');
@import url('./header.css');
@import url('./listaProdutos.css');
@import url('./listaDeNomes.css');
:root{

}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container{
    display: flex;
    align-items: center;
}